main{
	background-color: #e9ffdf;
}

body{
	background-color: #e9ffdf!important;
}

a{
	color: #000000!important;
	text-decoration-color: none;
}

.headlogo{
	width: 100px;
	border-radius: 50%;
}

h1{
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 25px;
}

/* Шапка сайта */

.navbar-nav{
	font-size: 24px;
}

.navbar-nav li{
	padding-left: 20px;
}

.navbar-nav a{
	text-decoration: none;
	color: black;
}

/* Страница "О нас" */

.deviz{
	display: flex;
    text-align: center;
    align-items: center;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}

.logocomp{
	display: flex;
	justify-content: center;
	align-items: center;
}

.logocomp img{
	width: 400px;
	border-radius: 20%;
	box-shadow: 10px 10px 0px 0px rgba(175, 175, 175, 1);
}

.next{
	padding-right: 30px;
}

.prew{
	padding-left: 30px;
}

/* Страница "Каталог" */

.bordercard{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 10px;
	padding: 15px;
	border-style: solid;
	border-radius: 10px;
	background-color: #8abd83;
	box-shadow: 10px 10px 0px 0px rgba(175, 175, 175, 1);
}

.imgsize{
	display: block;
	overflow: hidden;
	border-radius: 20%;
}

.imginner{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 200px;
}

.bordercard img:hover{
	display: block;
	transform: scale(1.1);
	transition: 0.3s;
}

.bordercard p{
	font-size: 18px;
	font-weight: bold;
}

.bordercard button{
	width: 120px;
	height: 40px;
	font-size: 18px;
	background-color: #ffffff;
}

.catimg{
	width: 200px;
	border-radius: 20%;
}

.containerCat{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.upmenu{
	display: flex;
	flex-wrap: wrap;
}

.upmenu button{
	height: 35px;
}

.basket{
	display: flex;
	justify-content: flex-end;
	padding-right: 20px;
}

.basket img{
	border-radius: 25%;
	width: 100px;
	height: 50px;
}

.basket p{
	font-size: 16px;
	font-weight: bold;
	padding: 10px;
}

.btn a{
	text-decoration: none;
}

/* Страница "Где нас найти" */

.containerWhere{
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.map{
	width: 850px;
	border: 1px solid black;
	border-radius: 5%;
	box-shadow: 10px 10px 0px 0px rgba(175, 175, 175, 1);
}

.contacts{
	border: 1px solid black;
}

.contacts ul{
	font-size: 25px;
	font-weight: bold;
	list-style-type: none;
}

form{
	padding-bottom: 20px;
	padding-left: 30px;
}

select{
	height: 35px;
	width: 150px;
}

/* Страница "Товар" */

.cards_solo{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-style: solid;
	border-radius: 10px;
}

.pros_name{
	font-size: 32px;
	font-weight: bold;
}

.pros_price{
	font-size: 24px;
	font-weight: bold;
}

.btn{
	width: 150px;
	height: 50px;
}

.pros{
	font-size: 28px;
	font-weight: bold;
	margin: 10px;
}

.catimg_solo{
	width: 600px;
	padding: 20px;
	border-radius: 10%;
}

.containerSolo{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.cardsinfo{
	padding: 20px;
}

.character{
	border: 2px solid black;
}

/* Страница "Корзина" */

.cartimg{
	width: 200px;
	height: auto;
}

.rowcart{
	display: flex;
	justify-content: space-around;
	align-items: center;
	border: 2px solid black;
}

.rowcart p{
	font-size: 16px;
	font-weight: bold;
}